<!DOCTYPE html>
<html>
<head>
	<title>ToDoList</title>
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="styles/css/toDoList.css">
	<link rel="stylesheet" type="text/css" href="../../utils/fontawesome/css/fontawesome-all.css">
	<script type="text/javascript" src="../../utils/jQuery/jquery-3.3.1.min.js"></script>
</head>
<body>

<div id="container">
	<h1>To-Do List <span id="toggleForm"><i class="fas fa-plus"></i></span></h1>
	<input type="text" name="" placeholder="Add New Todo">
	<ul>
		<li><span class="delete"><i class="fas fa-trash-alt"></i></span> Go to first</li>
		<li><span class="delete"><i class="fas fa-trash-alt"></i></span> Second</li>
		<li><span class="delete"><i class="fas fa-trash-alt"></i></span> Thired</li>
	</ul>
</div>

<script type="text/javascript" src="scripts/js/toDoList.js"></script>
</body>
</html> 