<% include ./partials/header %>

<div class="container">
	
	<h2>I summarized the development notes in this page</h2>

	<br>

	<div>
		<h4> Framework </h4>
		<ul>
			<li>Node.js</li>
			<li>Express</li>
			<li>MongoDb</li>
			<li>Mongoose</li>
		</ul>
	</div>

	<div>
		<h4>Web frontwork</h4>
		<ul>
			<li>HTML</li>
			<li>CSS</li>
			<li>Boostrap</li>
			<li>Javascript</li>
		</ul>
	</div>

	<div>
		<h4>Authentication/Authorization</h4>
		<ul>
			<li>Administator : with all priviliges</li>
			<li>register users: registered users could create publications / comment on other publications </li>
			<li>users: delete his/her own publicatioin or edit his/her personal profile </li>
		</ul>
	</div>

	<div>
		<h4>Storage</h4>
		<ul>
			<li>Cloudiary: for image storage</li>
			<li>MLab (AWS) for database storage (with mongodb)</li>
			<li>Heroku: deployment server</li>
		</ul>
	</div>

	<div>
		<h4>Other features</h4>
		<ul>
			<li>passport: for login management</li>
			<li>Forgot/reset password</li>
			<li>Google Map API to render locations</li>
			<li>Google reCAPTCHA</li>
			<li>Gmail for autoreply email</li>
		</ul>
	</div>


	<div>
		<h4>models created</h4>
		<ul>
			<li>publications</li>
			<li>users</li>
			<li>journals</li>
			<li>pictures</li>
			<li>comments</li>
			<li>...</li>
		</ul>
	</div>

	<div>
		<h5> Some features need to optimize, but I won't continue work on this project currently, since I am focusing on developing WheePin social network with Java Spring Framework now. Please keep in touch. </h5>
	</div>


</div>


<% include ./partials/footer %>