html,
body {
  font-family: lora;
  height: 100%;
}


/***********************/
/* login 
/************************/

/*style for login*/
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


/***********************/
/* publication 
/************************/

/*style for seriesNumber*/
.seriesNumber {
  font-size: 2em;
  margin-right: 10px;
}

.my_img_display {
  max-width: 100%;
  max-height: auto
/*  object-fit: cover;*/
}


.img-thumbnail img{
    width:100%;
}

.img-thumbnail {
    padding:0;
}

.img-thumbnail .caption-full {
    padding:20px;
}





.delete-form {
    display:inline;
}


/*google map*/
#map {
    height:400px;
}

/*style for publications*/
.publication-abstract{
  margin-top: 20px;
  margin-bottom: 20px;
  width:90%;
}


/***********************/
/* links
/************************/

.journal-card {
  position: relative;
}

.journal-caption {
  color:white;
  position: absolute;
  top: 45%;
  left: 0;
  width: 100%;
}





/*style for pagination*/
