/*customed css for publication show page*/



/*****************************/
/*customed highlights card*/
/*****************************/

h5.highlight-head {
	margin: 0;
	/*padding: 10px 20px;*/
	font-size:24px;
	font-weight:normal;
	text-transform: uppercase;
	/*background: #2980b9;*/
}

input:focus {
	background:white;
	border:2px solid #2980b9;
	outline:none; /*remove brower default outlien */
}

span.delete {
	background: #e74c3c;
	height:40px;
	margin-right:20px;
	text-align: center;
	color:white;
	width:0;
	display: inline-block;
	transition: width 0.2s linear;
	opacity: 0;
}

li:hover span {
	width:40px;
	opacity: 1.0; 
}

ul.highlight-ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

ul.highlight-ul li {
	height:40px;
	color:#666;
	font-size:20px;
	line-height: 40px;
/*	padding:3px 13px 3px 20px;*/
	background: #fff;
}

ul.highlight-ul li:nth-child(2n) {
	background:#f7f7f7;
}






