<% include ../partials/header %>



<div class="container">
    <div class="row"> 
        <div class="col">
            <h1 style="text-align:center">Write your biography for <%= user.firstName%> <%= user.lastName %> </h1>
            <div style="width:80%; margin:25px auto">
                <form action="/users/<%= user._id%>/biography" method="POST">
                    <div class="form-group">
                        <textarea class="form-control" type="text" name = "biography[text]" placeholder="personal summary" rows="10" cols="50"> </textarea>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-lg btn-secondary btn-block">Submit</button>
                    </div>
                </form>
            </div>
        </div>
        
    </div>
</div>



<% include ../partials/footer %>