body {
	background:#232323;
	margin:0 0;
	font-family: "Avenir";
}

h1 	{
	color:white;
	font-weight:normal;
	line-height: 1.1;
	padding: 20px 0;
	text-align: center;
	background:steelblue;
	text-transform: uppercase;
	margin:0 0;
}

#rgbDisplay {
	display: block;
	font-size: 2em;
}

#controlBar {
	background: white;
	height: 30px;
	color:black;
	text-align: center;
}

button {
	background:none;
	text-transform: uppercase;
	border:none;
	height: 100%;
	font-weight: 700;
	color:steelblue;
	letter-spacing: 1px;
	font-size: inherit;
	transition: all 0.3s; /*how long it takes for transition*/
	outline:none;
}

button:hover {
	background:steelblue;
	color:white;
}

#message {
	display: inline-block;
	width:20%;
}

.selected {
	background:steelblue;
	color:white;
}

#container {
	max-width:600px;
	margin:20px auto;
}

.square {
	width:30%;
	padding-bottom: 30%;
	margin:1.6%;
	background: purple;
	float:left;
	border-radius: 15%;
	transition:background 0.6s;
	-webkit-transition:background 0.6s;
	-moz-transition: background 0.6s;
}






